<ion-header>
  <ion-toolbar>
    <ion-title>
      Ejercicio 4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="myForm">
          <div>
            <ion-item>
              <ion-input formControlName="rfc" type="text" placeholder="RFC"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.controls.rfc.invalid && myForm.controls.rfc.dirty">
                <p>*El rfc es obligatorio</p>
              </ion-item>
            <ion-item>
              <ion-input formControlName="name" type="text" placeholder="Nombre"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.controls.name.invalid && myForm.controls.name.dirty">
              <p>*El nombre es obligatorio</p>
            </ion-item>
            <ion-item>
              <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.controls.email.invalid && myForm.controls.email.dirty">
                <p>*El email es obligatorio</p>
              </ion-item>
            
            <ion-item>
              <ion-label>Genero</ion-label>
              <ion-select formControlName="genero" placeholder="Seleccionar">
                <ion-select-option value="Femenino">Femenino</ion-select-option>
                <ion-select-option value="Masculino">Masculino</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item *ngIf="myForm.controls.genero.invalid && myForm.controls.genero.dirty">
              <p>*El genero es obligatorio</p>
            </ion-item>

            <ion-item>
              <ion-input formControlName="curp" type="text" placeholder="CURP"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.controls.curp.invalid && myForm.controls.curp.dirty">
                <p>*El curp es obligatorio</p>
            </ion-item>
          </div>
          <div>
            <ion-button type="button" [disabled]="myForm.invalid">Guardar</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

